body {
    font-family: Arial, sans-serif;
    background-color: rgb(61, 35, 35);
    margin: 50px;
    padding: 0;
    
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

form a {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 20px;
}

input[type="submit"] {
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    letter-spacing: 1px;
    background: rgb(0, 0, 0,0.15);
    color: gray;
    font-weight: bold;
    border-radius: 10px;
}

