* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    background: linear-gradient(to right, #dfabc5 0%, #1da1f2 100%);
}
.body h6{
    
}

.container {
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}



.container.logo img {

    position: absolute;
    width: 90px;
    height: 90px;
    left: 70%;
    top: 5px;
    border-radius: 50%;
    border: 5px solid #fafafa;

}

.container form .title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;

}


.container form .title::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 2px;
    left: 0;
    border-radius: 5px;
    background-color: #1da1f2;
}

.container form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;

    position: relative;
}

.container form .input-box input {
    height: 50%;
    width: 50%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .underline::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #ccc;
    left: 0;
    right: 0;

}

.container form .underline::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #dd0707;
    transform: scale(0);
    transform-origin: left;
}

.container form .input-box input::focus ~ .underline::before,
.container form .input-box input::valid ~ ,.underline::after{

    transform: scaleX(1);
    transform-origin: left;
}

.container form .button{
    margin: 50px 0 30px 0;
    
}
.container form .input-box input[type="submit"]{
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    transition: all 0.3s ease;
}

.container form .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: rgb(0, 0, 0,0.15);
   color: red;
    font-weight: bold;
    border-radius: 10px;
}

.container .text{
    font-size: 14px;
    text-align: center;
}

.container .kayit-ol a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    line-height: 45px;
    border-radius: 5px;
}

.container .kayit-ol a{
    background-color: #24292e;
    margin: 20px 0 15px 0;
}

.container .kayit-ol a:hover{
    background-color: #4a5662;
}

.container .kayit-ol i{
    font-size: 22px;
    padding-right: 22px;
}
 